/* Element Colors */
.element-X { color: magenta; }
.element-li { color: pink; }
.element-b { color: sienna; }
.element-mg { color: lawngreen; }
.element-al { color: silver; }
.element-ti { color: gray; }
.element-v { color: yellow; }
.element-cr { color: red; }
.element-mn { color: purple; }
.element-fe { color: black; }
.element-co { color: blue; }
.element-ni { color: green; }
.element-cu { color: peru; }
.element-zn { color: deepskyblue; }
.element-y { color: olive; }
.element-zr { color: orangered; }
.element-nb { color: darkviolet; }
.element-mo { color: orange; }
.element-sn { color: slategray; }
.element-hf { color: deepskyblue; }
.element-ta { color: darkgoldenrod; }
.element-w { color: gold; }
.element-re { color: mediumorchid; }
